<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js" type="module"></script>
    <link rel="stylesheet" href="style.css">
    <title>Code Playground</title>
</head>

<body>

    
    <div id="thing1RH" class="thing1RH"></div> 
    <div id="thing2RH" class="thing2RH"></div> 
    <div id="thing3RH" class="thing3RH"></div> 
    <div id="thing4RH" class="thing4RH"></div> 
    <div id="thing5LH" class="thing5LH"></div> 
    <div id="thingScore" class="thingScore"></div> 
    <div id="showPointsAdded" class="showPointsAdded"></div> 
    
    <h1 id="message1" class="message"> Welcome! </h1>
    <h1 id="message2" class="message"> To play the song, you must click onto the correct keys in time. </h1>
    <h1 id="message3" class="message">Be careful, wrong notes or hitting too late will loose you points! </h1>
    <h1 id="message4" class="message"> Click anywhere on the screen to start! </h1>
    

    

</body>

</html>