<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js" type="module"></script>
    <link rel="stylesheet" href="style.css">
    <title>Code Playground</title>
</head>

<body>

    
    <div id="thing1RH" class="thing1RH"></div> 
    <div id="thing2RH" class="thing2RH"></div> 
    <div id="thing3RH" class="thing3RH"></div> 
    <div id="thing4RH" class="thing4RH"></div> 
    <div id="thing5LH" class="thing5LH"></div> 
    <!-- <div id="thing6" class="thing6"></div>  -->
    

</body>

</html>